@font-face {
    font-family: Rama-Slab-E-W01-Bold;
    src: url("../assets/fonts/Rama Slab E W01 Regular.ttf");
  }

* {
    /* outline: 2px solid red; */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 4px;
    padding-left: 4px;
  }
  
  .product-image {
    width: 100%;
    max-width: 22rem; /* 3 items per line */
    padding: 8px;
    box-sizing: border-box;
  }
  
  .product-image img {
    width: 5rem;
  }
  .products-container {
    margin-top: 19rem;
  }

  .product-details {
    color: #395A5C;
  }

  .product-name {
    font-family: Rama-Slab-E-W01-Bold;
    letter-spacing: 2px;
    font-weight: 600;
  }