@font-face {
  font-family: Rama-Slab-E-W01-Bold;
  src: url("/src/assets//fonts/Rama Slab E W01 Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

* {
  /* outline: 2px solid red; */
}

.products-container {
  margin-top: 19rem;
}

.product {
  color: #395a5c;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 4px;
  padding-left: 4px;
}

.product-details {
  color: #395a5c;
}

.product-name {
  font-family: Rama-Slab-E-W01-Bold;
  letter-spacing: 2px;
  font-weight: 600;
}

.product-image .image {
  min-width: 50%;
}

@media (max-width: 913px) {
  .product-image {
    width: 50%; /* 1 item per row on small screens */
  }
}

@media (max-width: 1025px) {
  .product-image {
    width: 50%; /* 1 item per row on small screens */
  }
}

@media (max-width: 821px) {
  .product-image {
    width: 50%; /* 1 item per row on small screens */
  }
}

@media (max-width: 768px) {
  .product-image {
    width: 50%; /* 1 item per row on small screens */
  }
}

@media (max-width: 500px) {
  .product-image {
    width: 100%; /* 1 item per row on small screens */
  }
}