@font-face {
  font-family: Rama-Slab-E-W01-Bold;
  src: url("../assets/fonts/Rama-Slab-E-W01-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */

}

nav {
  background-color: #dcc7b7;
  height: 7.3rem;
  font-size: 14px;
  color: #004e59;
  letter-spacing: 1px;
  font-family: "trade gothic condensed-20";
  padding: 0 2rem;
  transition: 0.3s ease-in-out;
}

.navbar-links {
  display: flex;
  /* outline: 2px solid red; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  font-size: 10px;
}

.nav-item {
  padding: 5px 20px;
}

.small-navbar {
  display: flex;
  justify-content: space-evenly;
  height: 3.5rem;
  width: 100%;
  background-color: #dcc7b7;
  transition-duration: 0.3s;
}

.company-logo {
  width: 7rem;
  z-index: 2;
}

.company-logo img {
  height: 6rem;
}

.small-logo {
  display: flex;
  justify-content: center;
}

.small-logo img {
  height: 2.5rem;
  transition-duration: 0.3s;
}

.bar {
  width: 22px;
  height: 3px;
  margin-top: 4px;
  background-color: #004e59;
}

/* ----------------------------- MEDIA QUERIES -----------------------------*/
@media (max-width: 1018px) {
  .nav-items {
    position: fixed;
    top: 3.75rem;
    left: -100%;
    flex-direction: column;
  }

  .navbar-links {
    display: none;
    position: absolute;
  }
}

@media (min-width: 1018px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 732px) {
  .nav-items {
    width: 100%;
    top: 0;
  }
}

@media(max-width:540px){
  .dropdown-nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99;
    font-size: 25px;
  }
}

@media (max-width: 469px) {
  .user {
    width: auto;
  }
}

@media (max-width: 320px) {
  .user-login {
    display: none;
  }
}
